# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# System files
.DS_Store
Thumbs.db

# General build/temp folders
**/build/
**/bin/
**/obj/
**/out/
**/dist/

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/pubspec.lock
**/analysis_options.yaml

# PHP / Laravel / CodeIgniter
**/vendor/
**/.env
**/writable/cache/*
**/writable/debugbar/*
**/writable/logs/*
**/writable/session/*
!**/writable/index.html
!**/writable/.htaccess
**/storage/*.key
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/testing/*
**/storage/framework/views/*
**/storage/logs/*

# Node.js
**/node_modules/
**/npm-debug.log*

# Android specific
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
*.keystore
*.jks
