# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Files from remote master
Pertemuan2_AdithanaDharmaPutra_2311102207_S1IF-11-02.txt
Pertemuan1_AdithanaDharmaPutra_2311102207_S1IF-11-02/fitur.jpg
Pertemuan1_AdithanaDharmaPutra_2311102207_S1IF-11-02/hero.jpg
Pertemuan1_AdithanaDharmaPutra_2311102207_S1IF-11-02/modal window.jpg
Pertemuan1_AdithanaDharmaPutra_2311102207_S1IF-11-02/README.md
Pertemuan2_AdithanaDharmaPutra_2311102207_S1IF-11-02/crud-ci4/Penjelasan_Logika_MVC_Aplikasi.txt
Pertemuan3_AdithanaDharmaPutra_2311102207_S1IF-11-02/Screenshot.jpg
